/*Give the <body> element a background of Black*/
body {
    background-color: black;
    color: white;
    font-family: 'Kanit', sans-serif;
}
/*Make the <h1> elements blue*/

/*Make all <li> elements in the shade of hexadecimal blue*/

/*Paragraph background to orange*/

/*Make all <h3> have 5px red solid border*/

/*Give everything with <abbr> bold and underlined*/

/*Give elements with class "explanation" red*/

/*Give <p> in id "zen-benefits" pink background*/

/*Make <li> adjacent to <h2> red background*/

/*Give <em> inside <p> red and bold*/
